$themeColor-Light: #EEE2DC;
// $themeColor-Dark:#252525;
$themeColor-Dark:#E3E2DF;
$theme-font: verdana, sans-serif;
// $theme-supplementer: #f39c12;
$theme-supplementer: #5D001E;
$theme-supplementer-transparent: rgba(93,0,30,0.3);

.searchbar {
    display: flex;
}

.prompt {
    display: flex;
    padding: 0.9em;
    // border-right: 1px solid #c99034;
    background-color: $theme-supplementer-transparent;
    width: 4%;
    // margin-bottom: 40px;
    border-radius: 0.4em 0 0 0.4em;
}

.promptext {
    animation: blinkingText 0.8s infinite;
    text-align: center;
    line-height: 2em;
    font: 1.2em bolder;
    margin: auto;
}

input[type=text] {
    padding: 15px;
    border-radius: 0 0.4em 0.4em 0;
}

// OVERWRITES
.container-fluid {
    padding-left: 0px;
    padding-right: 0px;
}