<div class="navbar-collapse" id="navbarSupportedContent">
  <ul class="nav ml-auto">
    <li id="btnFavorites" class="nav-item float-right">
      <a class="nav-link" href="#">
        <i class="material-icons md-light md-36">star</i>
        <!-- <i class="far fa-star"></i> -->
      </a>
    </li>
    <li id="btnClearCommand" class="nav-item float-right">
      <a class="nav-link" href="#">
        <i class="material-icons md-light md-36">delete_outline</i>
        <!-- <i class="far fa-trash-alt"></i> -->
      </a>
    </li>
    <li id="btnFireCommand" class="nav-item float-right">
      <a class="nav-link" href="#">
        <i class="material-icons md-light md-36">arrow_forward_ios</i>
        <!-- <i class="far fa-paper-plane"></i> -->
      </a>
    </li>
  </ul>
</div>