.Login {
    .loginSplitter {
        text-align: center;
        margin-top: 20px;
        margin-bottom: 20px;
        text-transform: capitalize;
        font-size: 25px;
        font-weight: bolder;
        line-height: 30px;
    }
}
