$themeColor-Light: #EEE2DC;
// $themeColor-Dark:#252525;
$themeColor-Dark:#E3E2DF;
$theme-font: verdana, sans-serif;
// $theme-supplementer: #f39c12;
$theme-supplementer: #5D001E;

// app-root {
//     font-family: 'Poppins', sans-serif;
//     background-color: $themeColor-Dark;
// }

:host {
    padding: 20px;
    display: flex;
}

//OVERWRITES
.container-fluid {
    padding-right: 0px;
    padding-left: 0px;
}

.custom-app-tools {
    padding: 0;
}