<!-- <div class="card">
  <img class="card-img-top" src="{{image.imageUrl}}" alt="Card image cap">
  <div class="card-body">
    <h5 class="card-title">{{image.imageTitle}}</h5>
    <p class="card-text">{{image.imageDescription}}</p>
  </div>
  <ul class="list-group list-group-flush">
    <li class="list-group-item">Cras justo odio</li>
    <li class="list-group-item">Dapibus ac facilisis in</li>
    <li class="list-group-item">Vestibulum at eros</li>
  </ul>
  <div class="card-body">
    <a href="#" class="card-link">Card link</a>
    <a href="#" class="card-link">Another link</a>
  </div>
</div> -->

<mat-card class="card">
  <mat-card-header>
    <div mat-card-avatar [ngStyle]="{background: 'url(' + image.imageUrl + ')'}" class="header-image"></div>
    <mat-card-title>{{image.imageTitle}}</mat-card-title>
    <mat-card-subtitle>Nature</mat-card-subtitle>
  </mat-card-header>
  <img mat-card-image src="{{image.imageUrl}}" alt="Photo of a Shiba Inu">
  <mat-card-content>
    <p>{{image.imageDescription}}</p>
  </mat-card-content>
  <mat-card-actions>
    <button mat-button>LIKE</button>
    <button mat-button>SHARE</button>
  </mat-card-actions>
</mat-card>
<mat-divider></mat-divider>
